html * {
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e6e6e6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.el-order {
  order: 0;
}

.el-order1 {
  order: 1;
}

.about-mb {
  margin-bottom: -115px;
}

.fbuttom-mt {
  margin-top: 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background-color: rgba(30, 78, 255, 0.6);
  overflow-x: hidden;
  transition: 0.5s;
  backdrop-filter: blur(8px);
}

.overlay-content {
  position: relative;
  top: 2rem;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  padding: 1rem;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  font-size: 40px;
  top: 15px;
  right: 35px;
}

.bg-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(182, 177, 177, 0.801);
  width: 100%;
  overflow-y: scroll;
  align-items: center;
  z-index: 1;
}

.modal-content {
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px 15px 30px 15px;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

.modal-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  align-self: center;
}

 .modal-image-holder {
    width: 100%;
    height: 40%;
}

.modal-layout {
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.modal-head {
  margin-bottom: 0;
}

.p-modal {
  width: 100%;
  margin-bottom: 0;
}

.close {
  align-self: flex-end;
  font-size: 32px;
  align-items: center;
  display: flex;
  padding: 4px;
  border-radius: 3px;
  margin-bottom: 12px;
  top: 20px;
  color: rgba(103, 121, 142, 1);
  transform: rotate(45deg);
}

.live {
  margin-left: 0;
  text-decoration: none;
}

.source {
  text-decoration: none;
}

.b-layout {
  margin-left: 1rem;
  gap: 1rem;
  display: flex;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.p-html {
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
  height: 28px;
  left: 0;
  top: 0;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
}

.a-lang {
  color: #4e5cd4;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.p-button {
  padding: 12px;
  margin-top: 28px;
  border: 1px solid #6171ff;
  box-sizing: border-box;
  border-radius: 8px;
  color: #396df2;
  text-align: center;
  max-width: max-content;
  background: white;
  transition: color 0.1s;
}

.language {
  height: 24px;
  width: 80%;
  margin-right: 78px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
}

.disabled {
  position: relative;
  top: 37.5%;
  bottom: 37.5%;
  align-self: center;
}

.p-button:hover {
  color: white;
  background: #6070ff;
}

.p-button:active {
  background-color: #2230d2;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.desktop-only {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  background-image: url("src/header-shapesmobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 587.15px;
  border-radius: 0 0 0 100px;
  background-color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 90%;
}

label {
  display: none;
}

.mylogo {
  position: static;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.menu-items {
  display: none;
}

.head {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  color: #172b4d;
  order: 0;
  margin-top: 30%;
  margin-bottom: 1rem;
  width: 70%;
  position: static;
}

.headmargin {
  margin-left: 24px;
  margin-right: 24px;
}

.headmargin12 {
  margin-left: 12px;
  margin-right: 12px;
}

.headmargintop {
  margin-top: 15px;
}

.suptext {
  position: static;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #4e5cd4;
}

.suptext:hover {
  background-color: blue;
}

.headtext {
  width: 87.2%;
  height: auto;
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.portfolio-container {
  display: grid;
  height: max-content;
  width: 100%;
  top: 718px;
  padding-top: 100px;
  place-items: center;
}

.logo-img {
  width: 134px;
  height: 50px;
}

.footer {
  background: url("src/Contact-img.png");
  background-repeat: no-repeat;
  padding-bottom: 50px;
  background-size: cover;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("src/contact-bg-image.png");
  margin: 113px 0 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

.submit-btn {
  margin: 0;
}

.white {
  background-color: #fff;
}

input {
  height: 26px;
}

form input,
textarea {
  border-radius: 8px;
  border: solid 1px #cfd8dc;
  padding: 15px;
  font-size: 1rem;
}

textarea {
  height: 170px;
}

.contact-text {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  color: #fff;
  margin-top: 118px;
  margin-bottom: 0;
}

.contact-paragraph {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  color: #ebebff;
  margin: 12px 24px;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 170.17px;
  margin-top: 10px;
}

.portfolio-card {
  height: max-content;
  width: 327px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 70px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #dfe1e6;
  padding-bottom: 30px;
}

.portfolio-image {
  position: static;
  width: 295px;
  height: 220px;
  margin: 16px;
  border-radius: 8px;
}

.p-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 295px;
  height: auto;
  margin-left: 16px;
  margin-top: 12px;
}

.portfolio-head {
  position: static;
  width: 295px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
  order: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 236px;
  height: 32px;
  left: 0;
  margin-top: 12px;
  justify-content: space-between;
}

.bullet-disc {
  display: block;
}

.bullet-disc::before {
  content: "●";
  display: inline-block;
}
.canopy {
  position: static;
  width: auto;
  height: 16px;
  left: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  padding-bottom: 1.1rem;
}

.backend {
  position: static;
  height: 16px;
  left: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  padding-bottom: 1.1rem;
}

.year {
  position: static;
  width: 29px;
  height: 16px;
  left: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #79859a;
}

.p-text {
  position: static;
  width: 295px;
  margin-left: 16px;
  margin-top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 60%;
  height: 28px;
  margin-left: 12px;
  top: 180px;
  justify-content: space-between;
}

.p-lang {
  color: #4e5cd4;
}

.r-modal {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.p-proj {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #3a6ff2;
  text-decoration: none;
}

.aboutus-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 327px;
  height: max-content;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 5rem;
}

.a-par {
  position: static;
  width: 327px;
  left: 0;
  margin-top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 0;
}

.frame3 {
  position: static;
  height: max-content;
  width: 75%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.l-list {
  display: flex;
  flex-direction: column;
  position: static;
  justify-content: space-between;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  left: 0;
  top: 0;
}

.aboutus-radius {
  border-radius: 0 100px 0 0;
}

.framep {
  display: flex;
  align-items: center;
  padding: 0;
  position: static;
  gap: 0.5rem;
}

.langm {
    display: flex;
    flex-direction: row;
    float: left;
    gap: 1rem;
    margin-left: 1rem;
    flex-wrap: wrap;
  }

@media all and (min-width: 1025px) {
  body {
    align-items: center;
    background-color: #e6e6e6;
  }

  .menu-items {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    margin-top: 2rem;
    align-self: flex-end;
  }

  .menu-items a {
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }

  .nav-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    flex-direction: row;
    margin: 0;
  }

  .logoholder {
    order: 0;
    margin-left: 12%;
  }

  .mylogo {
    position: static;
    width: 76px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    flex-grow: 0;
    margin-top: 2rem;
    text-decoration: none;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }

  .header-container {
    background-image: url("./src/Header\ bg.svg");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    height: 846px;
    width: 100%;
    background-color: white;
    border-radius: 0 0 0 100px;
    background-size: 97% 85%;
    background-position: center;
  }

  .headerholder {
    width: auto;
    margin-top: 20%;
    margin-left: 18.05%;
    display: flex;
    flex-direction: column;
  }

  .head {
    margin-top: 1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    width: 35%;
    margin-bottom: 0;
  }

  .headtext {
    width: 63.9%;
    margin-left: 18.05%;
    margin-right: 18.05%;
    margin-top: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    flex: none;
    flex-grow: 0;
    margin-bottom: 0;
  }

  .supporttext {
    margin-left: 18.05%;
    margin-top: 1.4%;
  }

  .suptext {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .social {
    display: flex;
    order: 3;
    justify-content: space-between;
    width: 170.17px;
    margin-top: 10px;
  }

  .portfolio-card {
    display: flex;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    margin-top: 10%;
    width: 75%;
    gap: 2%;
  }

  .portfolio-content {
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 55%;
  }

  .portfolio-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }

  .portfolio-imaged {
    order: 0;
    width: 100%;
    height: auto;
  }

  .portfolio-head {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 0;
    width: auto;
  }

  .p-layout {
    width: 100%;
  }

  .p-text {
    width: 95%;
    height: auto;
  }

  .framed {
    display: flex;
    align-items: center;
    padding: 0;
    position: static;
    width: 297px;
    justify-content: space-between;
  }

  .canopy {
    position: static;
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    padding-bottom: 1.1rem;
  }

  .backend {
    position: static;
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    padding-bottom: 1.1rem;
  }

  .year {
    position: static;
    width: auto;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #6a768a;
  }

  .lang2 {
    display: flex;
    flex-direction: row;
    float: left;
    gap: 1rem;
    margin-left: 1rem;
  }

  .langm {
    display: flex;
    flex-direction: row;
    float: left;
    gap: 1rem;
    margin-left: 1rem;
  }

  .a-lang {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    background: #ebebff;
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    margin: 0 0.3rem;
  }

  .aboutus-card {
    display: flex;
    width: 80%;
    gap: 5%;
    flex-direction: row;
    margin-bottom: 10rem;
  }

  .aboutus-content {
    order: 0;
    width: 38%;
  }

  .marginleft18 {
    margin-left: 18.05%;
  }

  .frame2 {
    width: 55%;
    align-self: flex-start;
    padding-top: 2rem;
  }

  .frame3 {
    display: flex;
    justify-content: space-between;
  }

  .l-list2 {
    display: flex;
  }

  .contact-container {
    width: 100%;
    background-color: #4e5cd4;
    border-radius: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./src/contactformbackgroundd.png");
    background-position: center bottom;
    background-size: 90% 85%;
    background-repeat: no-repeat;
  }

  .contact-text {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: white;
    margin-top: 12rem;
    margin-bottom: 0;
  }

  .contact-paragraph {
    width: 30%;
    text-align: center;
    color: #ebebff;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 1rem;
    align-items: center;
  }

  form input {
    width: 25%;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    color: #172b4d;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 18px;
    padding-left: 10px;
  }

  form textarea {
    width: 25%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    padding-left: 10px;
    height: 150px;
  }

  .btn {
    margin-bottom: 5rem;
  }

  .footer {
    padding-bottom: 0;
  }

  .modal-layout {
    flex-direction: row;
  }

  .modal-image-holder {
    width: 100%;
    height: 60%;
  }
  .modal-content {
    height: 80%;
  }
  
  .langm {
    flex-wrap: nowrap;
  }
}
